.auth-button {
    width: 100px;
    display: inline-block;
}

.auth-button-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.login-header.subtitle {
    margin-top: 0;
}