/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative");

/* You can add global styles to this file, and also import other style files */
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
    max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {
    overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

select,
input,
textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td img {
    vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
    margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
    width: auto;
    overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

/* COMMON.CSS */

// Scaffolding
.container-width-full {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

html,
body {
    font-family: "Cinzel Decorative", "Palatino Light", Times, Times New Roman, Georgia, serif;
    height: 100%;
    color: #FFF;
    text-rendering: optimizeLegibility;
}

a {
    color: #c4ae78;
    transition: all 0.33s;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #ecd19a;
    text-shadow: 0px 0px 6px #000000;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-shadow: 0px 0px 6px #000000;
    text-align: center;
}

h3,
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ad835a;
    text-shadow: 0px 0px 4px #000000;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
select {
    margin: 10px;
    font: inherit;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    // min-height: 100%;
    display: flex;
    flex-direction: column;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.divider {
    height: 55px;
    margin: -18px 0px;
    position: relative;
    z-index: 15;
}

.divider:before {
    left: 0;
    margin-right: 82px;
    right: 50%;
    background: url(assets/images/divider-sprite.png) repeat-x 50% 0;
    content: "";
    height: 55px;
    position: absolute;
    top: 0;
}

.divider:after {
    left: 50%;
    margin-left: 82px;
    right: 0;
    background: url(assets/images/divider-sprite.png) repeat-x 50% 0;
    content: "";
    height: 55px;
    position: absolute;
    top: 0;
}

.divider-rule {
    background: url(assets/images/divider-sprite.png) repeat-x 50% 100%;
    border: 0;
    height: 55px;
    left: 50%;
    margin: 0 0 0 -82px;
    position: absolute;
    top: 5px;
    width: 164px;
}

.heading-divider {
    background: url(assets/images/section-separator.png) 50% 100% no-repeat;
    position: relative;
    margin-top: 0;
    height: 1rem;
    z-index: 0;
}

.button {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #b93a27, #9e1e0b);
    background-image: -webkit-linear-gradient(top, #b93a27, #9e1e0b);
    color: #f3aa55;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    background-size: 1px 200px;
    border: 1px solid #b93a27;
    font: inherit;
}

.button:hover {
    color: #ffcb8d;
    background-position: 100px;
    background-image: linear-gradient(to bottom, #b93a27, #9e1e0b);
    background-image: -webkit-linear-gradient(top, #b93a27, #9e1e0b);
}

/* MAIN.CSS */
main {
    padding: 1em 1em 5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)), url(assets/images/dark_wall.png);
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 100px;
    background-size: cover;
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
  
  main.index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(assets/images/Dragonic.jpg);
    box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  main.index p {
    width: 80%;
    margin: 0 auto 1rem;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
  }
  
  .container.characters {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
  }
  
  .container .info {
    width: 80%;
    margin: 0 auto;
  }
  
  .features-item {
    padding: 0 50px;
  }
  
  .auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
  }
  
  .auth {
    padding: 50px;
  }
  
  .auth label {
    display: none;
  }
  
  .section-image {
    text-align: center;
  }
  
  .section-image img {
    width: 8em;
  }
  
  #race-selector,
  #calc-stats-button,
  #calc-abilities-button {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
  
  #calc-stats,
  #calc-abilities {
    width: 300px;
    padding: 5px;
    margin: 10px;
  }
  
  .calculated-stats,
  .calculated-abilities {
    display: flex;
    justify-content: center;
  }
  
    @media (min-width: 1200px) {
      .container {
          max-width: 100%;
      }
    }
    
    @media screen and (max-width: 60em) {
  
    .auth-container,
    .calculated-abilities,
    .calculated-stats {
        flex-direction: column;
    }
  }