<!--- body -->
<main>
  <div class="container">
    <h1>D&amp;D 5E Pre-Generated Characters</h1>
    <h2 class="info">
        For those of you who play D&amp;D at SoCal Games and Comics
        in Temecula,<br>here are some of the pregens I have made
        for you to use at store events.
    </h2>

    <p>&nbsp;</p>

    <!-- <form id="get_characters_form" novalidate="">
        <div id="class-selector">
            <label for="class">Select a Class: </label>
            <select name="class" id="class">
                <option value="Artificer">Artificer</option>
                <option value="Barbarian">Barbarian</option>
                <option value="Bard">Bard</option>
                <option value="Blood Hunter">Blood Hunter</option>
                <option value="Cleric">Cleric</option>
                <option value="Druid">Druid</option>
                <option value="Fighter">Fighter</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Ranger</option>
                <option value="Rogue">Rogue</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Warlock">Warlock</option>
                <option value="Wizard">Wizard</option>
            </select>
        </div>
        <div id="level-selector">
            <label for="level">Select a Level: </label>
            <select name="level" id="level">
                <option value="1">1st Level</option>
                <option value="2">2nd Level</option>
                <option value="3">3rd Level</option>
                <option value="4">4th Level</option>
                <option value="5">5th Level</option>
                <option value="6">6th Level</option>
                <option value="7">7th Level</option>
                <option value="8">8th Level</option>
                <option value="9">9th Level</option>
                <option value="10">10th Level</option>
                <option value="11">11th Level</option>
                <option value="12">12th Level</option>
                <option value="13">13th Level</option>
                <option value="14">14th Level</option>
                <option value="15">15th Level</option>
                <option value="16">16th Level</option>
                <option value="17">17th Level</option>
                <option value="18">18th Level</option>
                <option value="19">19th Level</option>
                <option value="20">20th Level</option>
            </select>
        </div>
        <button type="submit" id="getCharacters" class="button">
            Search
        </button>
    </form> -->

    <div id="characters">
      <ul id="characters-list" class="characters">
        <li *ngFor="let hero of heroes; let id = index" class="character-item {{hero.class}}" style="display: block;">
          <div class="character-card">
            <div class="character-image">
              <img src="../../assets/images/characters/{{hero.name}}.jpg" alt="{{hero.name}}">
            </div>
            <div class="character-content">
              <h2 class="character-name">{{hero.name}}</h2>
              <h3 class="character-class">{{hero.class}}: {{hero.build}}</h3>
              <p class="character-race">{{hero.race}}</p>
              <a class="character-sheet" href="#" target="_blank">Download</a>
            </div>
          </div>
        </li>
      </ul>    
    </div>
  </div>  
</main>

<!-- <div class="container-width-full">
  <table class="table table-striped" *ngIf="heroes; else loadingHeroes">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" sortable="specialty" (sort)="onSort($event)">
          Specialty
        </th>
        <th scope="col" sortable="ranking" (sort)="onSort($event)">Ranking</th>
        <th scope="col" sortable="hire" (sort)="onSort($event)">Hire</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes; let id = index">
        <th scope="row">{{ id }}</th>
        <th>
          <a [routerLink]="['/heroes', hero._id]">
            {{ hero.name }}
          </a>
        </th>
        <th>{{ hero.specialty }}</th>
        <th>{{ hero.ranking }}</th>
        <th>{{ hero.rent | currency }}</th>
      </tr>
    </tbody>
  </table>

  <ng-template #loadingHeroes>
    <div>Assembling heroes...</div>
  </ng-template>
</div> -->
