
.login-form {
  width: 300px;
  margin: 50px auto;
}

.auth-button {
  width: 100px;
  display: inline-block;
  text-align: center;
}

.auth-button-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}