<!-- body -->
<main>
  <div class="container characters">
    <h1 class="login-header">{{title}}</h1>
    <form class="login-form" [formGroup]="registerForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          class="form-control"
          type="text"
          formControlName="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          class="form-control"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="auth-button-container container">
        <button type="submit" class="auth-button button" (click)="submit()">Submit</button> &nbsp;
        <a [routerLink]="['/login']" class="auth-button button">Cancel</a>
      </div>
      
    </form>
  </div>
</main>
